.flex-contain {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/* .contain {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 70%;
  margin-top: 60px;
  padding: 25px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.togo-details {
  padding: 2px 16px;
}

.contain img {
  width: 35%;
  height: 30%;
} */

@media only screen and (max-width: 800px) {
  /* For mobile phones: */
   /* .contain img {
    width: 100%;
    height: 100%;
  } */
  .flex-container {
    flex-direction: column;
    
  }

  .card-contain {
    flex: 100%;
    width: 40%;
  }

  .card-image {
    
    height: 180px !important;
    width: 100%;
    
  }

} 

.card-contain {
  width: 35%;
  padding: 10px;
  /* height: 450px; */
  margin-top: 20px;
  margin-bottom: 30px;
  padding-top: 30px;
  transition: 0.6s;
  box-shadow: 0 15px 30px 1px grey;
  background: rgba(253, 253, 253, 0.9);
  text-align: center;
  border-radius: 8px;
  
}

.card-contain:hover {
  transform: scale(1.02);
}

.card-contain:hover .card-link {
  display: inline-block;
}

.card-link:hover {
  color: white;
  background-color: #0099FF;
}

.card-content {
  color: black;
  margin-top: 5px;
  padding-top: 12px !important;
}
.card-title {
  margin-top: 20px;
  font-weight: bold;
}

.card-image {
 
  height: 220px !important;
}

.card-para {
  font-size: var(--fs-body);
  margin-top: 10px;
}

.card-link {
  margin-top: 20px;
  padding: 0.3em 2.5em;
  color: #0099FF;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 15px;
  /* border-bottom: 2px double var(--clr-accent);
  border-width: medium; */
}

/* .contain {
  box-shadow: 0 15px 30px 1px grey;
  background: rgba(253, 253, 253, 0.9);
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  margin: 5em auto;
  height: 250px;
  width: 700px;
}

.togo-details {
  position: relative;
  text-align: left;
  overflow: hidden;
  padding: 30px;
  height: 100%;
  float: left;
  width: 40%;
}

.contain .togo-details h2 {
  font-family: "Bebas Neue", cursive;
  display: inline-block;
  position: relative;
  font-size: 20px;
  color: #344055;
  margin: 0;
}

.contain .togo-details > p {
  font-family: "EB Garamond", serif;
  
  font-size: 18px;
  color: #7d7d7d;
}

.togo-image {
  transition: all 0.3s ease-out;
  position: relative;
  overflow: hidden;
  height: 100%;
  float: right;
  width: 50%;
  /* display: inline-block; */
/* }

.contain img {
  width: 100%;
  height: 100%;
}

.contain .btn {
  transform: translateY(0px);
  transition: 0.3s linear;
  background: #0099FF;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  border: none;
  color: #eee;
  padding: 5px 10px;
  margin: 0;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    /* .contain {
        height: 250px;
        width: 400px;
    }

    .togo-details {
        float: none;
        width: 60%;
    }

    .togo-image {
        float: none;
    }
  }  */ 
